@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');

:root{
    --white: #ffff;
    --black:rgba(12, 12, 12, 0.67);
}

body.dark{
    --white: rgba(12, 12, 12, 0.67);
        --black: #ffff;
}

*{
    font-family: 'Rubik', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
}

button.Portfolio{
    
    background-color: transparent;
    border: none;
    justify-content: center;
    height:70px;
    width:70px;
    line-height: 69px;
    border-radius:50px;
    background-color: var(--black);
    color: var(--white);
    font-size:18px;
    cursor: pointer;
    text-align: center;
    position: fixed;
    top:20px; right:130px
  
}


button.Github {

    background-color: transparent;
    border: none;
    justify-content: center;
    height: 70px;
    width: 70px;
    line-height: 69px;
    border-radius: 50px;
    background-color: var(--black);
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 230px
}


button.linkedin {

    background-color: transparent;
        border: none;
        justify-content: center;
        height: 70px;
        width: 70px;
        line-height: 69px;
        border-radius: 50px;
        background-color: var(--black);
        color: var(--white);
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        position: fixed;
        top: 20px;
        right: 330px

}

.content{
    height: 100vh;
    width:100%;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white)
}

.content h1 {
    font-size: 7vw;
    color:var(--black)

}

#toggle-btn{
    height:70px;
    width:70px;
    line-height: 69px;
    border-radius:50px;
    background-color: var(--black);
    color: var(--white);
    font-size:30px;
    cursor: pointer;
    text-align: center;
    position: fixed;
    top:20px; right:30px


}


#toggle-btn.fa-moon {
    transform: rotate(360deg);

}


/* horloge */

::before
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.horloge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
    
    
}

.heures {
    
    font-size: 100px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid ;
}


.date{

    font-size: 25px;
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        padding-bottom: 15px;
        

}